.chat{
  margin: auto;
  width: 900px;
}

.bigblue {
  color: DodgerBlue;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.messageList{
  box-sizing: border-box;
  margin-top: 10px;
  border:2px solid lightslategray;
  width: 100%;
  height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column-reverse;
}

.messageList::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.headerChat{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border:2px solid lightslategray;
}

.headerLeft{
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: auto;
  margin-bottom: auto;
}

.headerRight{
  margin-top: auto;
  margin-bottom: auto;
}

.avatar{
  width: 50px;
  height: 50px;
  float:left;
}

.message{
  width: 60%;
  text-indent: 3%;
  margin: 0px;
  border:1px solid lightslategray;
  margin: 7px 0;
}

.myMessage{
  width: 60%;
  margin: 7px 0 7px 40%;
  text-indent: 4%;
  border:1px solid lightslategray;
}

.messageBox{
  min-width: 50px;
}

.messageText{
  margin: 3px 5px 3px 5px;
}

.messageFooter{
  margin-top: 5px;
  display: flex;
  justify-content: space-between
}

.messageFooter span{
  text-align: center;
}

.myMessage .messageFooter span{
  text-align: center;
  margin-left: 60%;
}

.like{
  width: 30px;
  height: 30px;
  -webkit-mask: url('./imgs/like-button.png') no-repeat center;
  mask: url('./imgs/like-button.png') no-repeat center;
}

.like:hover{
  cursor: pointer;
}

.mark{
  margin-left: 40px;
  margin-top: 20px;
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/iconmonstr-x-mark-1-32.png') no-repeat center;
  mask: url('./imgs/iconmonstr-x-mark-1-32.png') no-repeat center;
  background-color: #333;
}

.mark:hover{
  cursor: pointer;
}

.logo{
  background-image: url(./imgs/bs-logo.png);
  height: 80px;
  width: 180px;
  background-size: cover;
  margin-left: 300px;
}

.copyright{
  height: 60px;
  display: flex;
}

.copyright span{
  height: 24px;
  margin: 20px auto;
  background-color: grey;
  color:#fff;
  font-weight: 600;
  padding: 5px 40px;
  border-radius: 5px;
}

.inputWrapper{
  margin-top: 30px;
  display: flex;
  position:relative;
}

.textAreaSend{
  width: 600px;
  height: 70px;
  font-size: 16px;
  text-indent: 3%;
  padding: 10px;

}

.sendBox{
  width: 120px;
  height: 50px;
  margin-left: 80px;
  margin-top: 15px;
  display:flex;
  align-items: center;
  border:1px solid lightslategray;
}

.sendBox:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

.sendSvg{
  margin-left: 10px;
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/iconmonstr-arrow-up-thin-32.png') no-repeat center;
  mask: url('./imgs/iconmonstr-arrow-up-thin-32.png') no-repeat center;
  background-color: lightslategray;
}

.sendText{
  margin-left: 10px;
  font-weight: 800;
  color:lightslategray;
}

.delete{
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/delete.png') no-repeat center;
  mask: url('./imgs/delete.png') no-repeat center;
  background-color: lightslategray;
}

.delete:hover{
  cursor: pointer;
}
.edit{
  width: 32px;
  height: 32px;
  -webkit-mask: url('./imgs/edit.png') no-repeat center;
  mask: url('./imgs/edit.png') no-repeat center;
  background-color: lightslategray;
}

.edit:hover{
  cursor: pointer;
}

.editingToggle{
  position: absolute;
  top:-22px;
  color:chocolate;
}

.timeAgo{
  text-align: center;
  margin: 20px 0 10px;
  border-top: 10px grey solid;
  width: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 5px;
  justify-content: center;
  border-bottom: 10px grey solid;
}